version: '3.8'

services:
  php-apache:
    image: php:apache
    build: .
    ports:
      - "8003:80"
    volumes:
      - ./:/var/www/html
    restart: always
    depends_on:
      - mysql
      - redis
    networks:
      - bot-network
      - shared-network
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1

  redis:
    image: redis:7
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes  # Сохранение данных на диск
    networks:
      - bot-network
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - bot-network

volumes:
  mysql_data:
  redis_data:

networks:
  bot-network:
  shared-network:
    external: true  # используем внешнюю сеть